a{
  text-decoration: underline;
}

h3 {
  padding-left: 10px;
  text-shadow: 2px 2px #cfd8dc;
}


#images  {
	width: 300px;
	height: 300px;
	
}

.dishes {
	display: inline-block;

}

 .title{
 	text-decoration: none;
  color: #fff;
  background-color: #80deea;
  text-align: center;
  letter-spacing: .5px;
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
  cursor: pointer;
}

.right-align{
  padding-right: 10px;
  color: #009688;
  font-size: 20px;
}

.display {
  border: 5px solid teal;
}

#form1 {

 display : none;
 padding: 10px;

} 

.textarea{
  height: auto;
}

.recipe_detail{
  
   display : none;
}

h3, h4, h5{
  padding-left: 10px;
  color: #009688;
}

#addrecipe_button{

  margin-left: 20px;
  padding: 0 5px;
}

.col {

  margin-bottom: 10px;

}

/*****************/

/* Contains group of recs */
.rec_wrap{
  display:flex;
  flex-flow: row wrap;
  align-items: flex-end;
  margin-right: -0.5rem;
  padding: 0 1em;
}

/* Contains one rec */
.img_squ{
  flex: 0 1 16%;
  margin: .75rem 0.5rem .75rem 0;
}

@media (max-width: 1200px){
  .img_squ{
    flex: 0 1 24%;
  }
}

/* Placeholder image for proportions */
.size_setter{
  width:100%;
  opacity:0;
}

/* Wraps round placeholder and has background of food*/
.rec_image{
  display: block;
  background-size: cover;
}